%div.callout.primary
  Welcome to the CMDR Log. Select a CMDR or create a new one to get started.
%div.cmdrs-list.expanded.row
  %div.small-6.small-centered.columns
    %a.button.large.radius Annasazi
    %a.button.large.radius Gendibal
    %a.button.large.radius + Add
