%div.mining-entry
  = render @entry.activity_template, presenter: @entry.as_presenter

%div.row
  %div.small-10.small-centered.columns
    = link_to "Abort", cmdr_entry_path(current_commander, @entry), method: :delete, data: { confirm: "Are you sure?" }, class: "button secondary"
    = link_to "Done", mark_entry_done_button(current_commander, @entry), method: :put, class: "button"

%div.row
  = yield :entry_actions unless @entry.is_closed?

