%div.mining-entry
  = render 'mining_entry', entry: @entry

%div.row
  %div.small-10.small-centered.columns
    = link_to "Abort", cmdr_entry_path(current_commander, @entry), method: :delete, data: { confirm: "Are you sure?" }, class: "button secondary"
    = link_to "Done", cmdr_path(current_commander), class: "button"

%div.row
  %div.small-10.small-centered.columns
    %h2 Add Resources
    - Commodity.mineable.each do |resource|
      = link_to resource.name, create_extracted_resource(resource, @entry),
          method: :post, remote: true, class: 'entry-add-item', data: {type: :html}
