= render 'mining_entry', entry: @entry

%div.row
  %div.small-10.small-centered.columns
    = link_to "Abort", cmdr_entry_path(current_commander, @entry), method: :delete, data: { confirm: "Are you sure?" }, class: "button secondary"
    = link_to "Done", cmdr_path(current_commander), class: "button"

%div.row
  %div.small-10.small-centered.columns
    %h2 Add Resources
    - Commodity.mineable.each do |resource|
      %a.entry-add-item{data: resource.html_element_data }= resource.name

