%div.row
  %div.small-10.small-centered.columns
    %table.cargo-table
      %thead
        %th Item
        %th Qt.
        %th
        %th
      %tbody
        %tr
          %td Painite
          %td 2 T
          %td
            %a Jettison
          %td
            %a Sell
