%div.row
  %div.small-10.small-centered.columns
    %table.cargo-table
      %thead
        %th Item
        %th Qt.
        %th
        %th
      %tbody
        - @ship.cargo_items.sort_by(&:commodity_name).each do |item|
         =# render 'sell_item_form', item: item
          %tr
            %td=item.commodity_name
            %td
              = item.quantity
              T
            %td
              %a Jettison
            %td
              %a(data-open="sell_#{item.id}") Sell
