// Place all the styles related to the token controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.huge {
  font-size: x-large;
  font-weight: bold;
  padding: 6px 12px;
  border: 1px solid;
  border-radius: 8px;
  width: max-content;
  margin: 20px;
}
